* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: White;
    margin: 0;
    padding: 0;
}

header {
    background-color: Orange;
    color: White;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: White;
    text-decoration: none;
}

section.overview {
    padding: 2rem;
    margin: 2rem auto;
    background-color: White;
    border-radius: 10px;
    box-shadow: 0 2px 4px LightGray;
    border: 2px solid DarkSlateGray;
}

section.overview h2 {
    margin-bottom: 1rem;
    color: DarkSlateGray;
}

section.overview p {
    border-bottom: 1px solid DarkSlateGray;
    padding-bottom: 1rem;
}

footer {
    background-color: Orange;
    color: White;
    padding: 1rem;
    text-align: center;
}